<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.labour.dao.UserDao">

	<insert id="addOneUser" parameterType="java.lang.String">
		INSERT INTO `user` (user_name, password, name, user_type_id, create_user_id, create_user_name, status)
		VALUES (#{user_name}, #{password}, #{name}, #{user_type_id}, #{create_user_id}, #{create_user_name}, #{status})
	</insert>

	<insert id="addUserCompany" parameterType="java.lang.String">
		INSERT INTO `user_company` (user_id, user_name, company_id, company_full_name)
		VALUES (#{user_id}, #{user_name},#{company_id}, #{company_full_name})
	</insert>

	<select id="selectOneUser" resultType="com.labour.entity.User" parameterType="java.lang.String">
		select user_id,user_name,password,name,user_type_id,create_user_id,create_user_name,create_time,update_time,status FROM user
		where user_name=#{user_name};
	</select>

	<select id="selectAllUserType" resultType="com.labour.entity.UserType" parameterType="java.lang.String">
		select user_type_id, user_type_name, status FROM user_type;
	</select>

	<select id="selectAllUser" resultType="com.labour.entity.User" parameterType="java.lang.String">
		select * FROM user;
	</select>

	<update id="updatePassword" parameterType="java.lang.String">
		UPDATE `user` SET `password` = #{password} WHERE user_name = #{user_name}
	</update>

	<update id="updateStatus" parameterType="java.lang.String">
		UPDATE `user` SET `status` = #{status} WHERE user_name = #{user_name}
	</update>

	<select id="selectUserByFactor" resultType="com.labour.entity.User" parameterType="java.lang.String">
		SELECT u.user_id,u.user_name,u.name,u.user_type_id,ut.user_type_name,ut.user_type_name,u.create_user_id,u.create_user_name,u.create_time,u.status,u.update_time,c.user_company_id,c.company_id,c.company_full_name FROM user_company c
		LEFT JOIN user u ON c.user_id = u.user_id
		LEFT JOIN user_type ut ON ut.user_type_id = u.user_type_id
		<where>
			<if test=" company_id !=null and company_id !='' ">
				and c.company_id = #{company_id}
			</if>
			<if test=" name !=null and name !='' ">
				and u.name = #{name}
			</if>
			<if test=" user_name !=null and user_name !='' ">
				and u.user_name = #{user_name}
			</if>
			<if test=" user_type_id !=null and user_type_id !='' ">
				and u.user_type_id = #{user_type_id}
			</if>
		</where>
		LIMIT #{star_num},#{pageSize}
	</select>



</mapper>